:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --contrast-color: #272142;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5px;
  color: #212529;
  background-color: #fff;
}

p {
  font-size: 16;
  font-weight: normal;
  line-height: 30px;
  display: block;
}

.hero {
  background-color: var(--secondary-color);
  padding: 160px 20px;
  text-align: center;
}

.hero p {
  color: var(--contrast-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  margin: 0;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: black;
}

.hero h1 {
  font-size: 96px;
  line-height: 127.97px;
}


.hero h2 {
  color: var(--contrast-color);
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
}

.btn-branding {
  border-radius: 4px;
  padding: 18px, 30px, 18px, 30px;
  background-color: var(--branding-color);
  color: white;
  font-size: 18px;
  line-height: 27px;

}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;

}

.btn:hover {
  cursor: pointer;
  transition: ease-in-out, .15s;
  color: var(--contrast-color);
  background-color: var(--branding-color)
}

.featured {
  border: 1px solid color:var(--branding-color);
}

.featured p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}

.container {
  width: 100%;
  padding: 12px;
}

.container h2 {
  font-size: 64px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border-radius: 4px;
  border: 1px, solid, var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.text-muted {
  color: #6c757d;
}


@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
}